/*****RESET*****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

.overflow {
  overflow: hidden;
}

a {
  text-decoration: none;
}

a.header-logo {
  margin-left: 100px;
}

img {
  display: block;
}

img.logo {
  height: 3.125rem;
}

.img-profile {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 4px 4px 8px #c4c4c4;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}
.contact_button:hover {
  background-color: #DB8876;
  border: 1px #901C1C;
}

#filter-select {
  background-color: #901C1C;
  border-color: transparent;
  border-radius: 5px;
  color: #FAFAFA;
  font-size: 18px;
  min-height: 50px;
  padding: 5px 10px;
  width: 170px;
  height: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}
.modal header {
  justify-content: space-between;
  width: 100%;
}
.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}
.modal header img {
  cursor: pointer;
}
.modal form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
.modal form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}
.modal form div label {
  color: #312E2E;
  font-size: 36px;
}
.modal form div input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
header a.header-logo {
  margin-left: 100px;
}
header h1 {
  color: #901C1C;
  margin-right: 100px;
}

header a.header-logo {
  margin-left: 100px;
}
header h1 {
  color: #901C1C;
  margin-right: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}
.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.photographer_section article a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-size: 0;
}
.photographer_section article a img {
  margin-bottom: 20px;
}
.photographer_section article a h2 {
  color: #D3573C;
  font-size: 2.25rem;
}
.photographer_section article p {
  line-height: 15px;
}
.photographer_section article p.photographer-location {
  font-size: 0.813rem;
  color: #901C1C;
}
.photographer_section article p.photographer-tagline {
  font-size: 0.625rem;
}
.photographer_section article p.photographer-price {
  font-size: 0.563rem;
  color: #525252;
}

main {
  margin: 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section.photographer {
  width: 100%;
}
main section.photographer .photographer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  padding: 0 35px;
  background: #FAFAFA;
}
main section.photographer .photographer-header h1 {
  color: #D3573C;
  font-size: 2.25rem;
}
main section.photographer .photographer-header .locationandtag .location {
  padding: 10px 0;
  color: #901C1C;
  font-size: 1.75rem;
}
main section.photographer .modal-open {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(250, 250, 250, 0.7);
}
main section.photographer .modal-open .content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
  height: 900px;
  width: 670px;
  background-color: #DB8876;
  padding: 20px;
  border-radius: 5px;
  overflow: hidden;
  -webkit-animation-name: modalopen;
          animation-name: modalopen;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
}
main section.photographer .modal-open .content .headerModal {
  display: flex;
  justify-content: space-between;
}
main section.photographer .modal-open .content .headerModal .title {
  display: flex;
  flex-direction: column;
  font-size: 36px;
}
main section.photographer .modal-open .content .headerModal .closeModal {
  color: white;
  height: 36px;
  width: 36px;
}
main section.photographer .modal-open .content form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
main section.photographer .modal-open .content form .formData {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
main section.photographer .modal-open .content form .formData .form-label {
  font-size: 30px;
  font-weight: bold;
  color: #525252;
}
main section.photographer .modal-open .content form .formData input {
  border: none;
  border-radius: 5px;
  height: 64px;
}
main section.photographer .modal-open .content form .formData textarea {
  border: none;
  border-radius: 5px;
}
@-webkit-keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}
@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}
main section.portfolio {
  display: flex;
  flex-direction: column;
  width: 100%;
  /*FILTER*/
  /*GALLERY*/
}
main section.portfolio .filter-form-wrapper {
  margin: 50px 0 100px;
}
main section.portfolio .filter-form-wrapper .filter-form label {
  margin-right: 20px;
}
main section.portfolio .galleryContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  padding: 2%;
}
main section.portfolio .galleryContainer article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 33.33%;
  min-width: 380px;
  min-height: 370px;
  position: relative;
}
main section.portfolio .galleryContainer article .mediaCard {
  border-radius: 5px;
  cursor: pointer;
}
main section.portfolio .galleryContainer article .mediaCard img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 350px;
  height: 300px;
}
main section.portfolio .galleryContainer article .mediaCard video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 350px;
  height: 300px;
}
main section.portfolio .galleryContainer article .mediaIcon {
  position: absolute;
  color: #D3573C;
  z-index: -1;
  opacity: 0.7;
  height: 36px;
  font-size: 1.5rem;
  top: 35%;
  left: 50%;
}
main section.portfolio .galleryContainer article .media-legend {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  max-width: 350px;
  height: 70px;
  color: #901C1C;
}
main section.portfolio .galleryContainer article .media-legend .media-legend-title {
  font-size: 1.5rem;
}
main section.portfolio .galleryContainer article .media-legend span {
  font-size: 1.5rem;
  margin-right: 5px;
}
main section.portfolio .galleryContainer article .media-legend .media-legend-like {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  cursor: pointer;
}
main section.portfolio .galleryContainer article .media-legend .media-legend-like svg {
  height: 24px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  left: 60%;
  background-color: #DB8876;
  width: 370px;
  height: 70px;
  padding: 0 20px;
  font-size: 24px;
  border-radius: 5px 5px 0 0;
}
footer .footerInfos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footerInfos span {
  margin-right: 10px;
}
footer .footerInfos svg {
  height: 24px;
}/*# sourceMappingURL=styles.css.map */