/*****RESET*****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

a.header-logo {
  margin-left: 100px;
}

img {
  display: block;
}

img.logo {
  height: 3.125rem;
}

.img-profile {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 4px 4px 8px #c4c4c4;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}
.contact_button:hover {
  background-color: #DB8876;
  border: 1px #901C1C;
}

#filter-select {
  background-color: #901C1C;
  border-color: transparent;
  border-radius: 5px;
  color: #FAFAFA;
  font-size: 18px;
  min-height: 50px;
  padding: 5px 10px;
  width: 170px;
  height: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
#filter-select option {
  width: 170px;
  border-bottom: #FAFAFA;
}

.modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}
.modal header {
  justify-content: space-between;
  width: 100%;
}
.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}
.modal header img {
  cursor: pointer;
}
.modal form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
.modal form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}
.modal form div label {
  color: #312E2E;
  font-size: 36px;
}
.modal form div input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
header a.header-logo {
  margin-left: 100px;
}
header h1 {
  color: #901C1C;
  margin-right: 100px;
}

header a.header-logo {
  margin-left: 100px;
}
header h1 {
  color: #901C1C;
  margin-right: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}
.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.photographer_section article a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-size: 0;
}
.photographer_section article a img {
  margin-bottom: 20px;
}
.photographer_section article a h2 {
  color: #D3573C;
  font-size: 2.25rem;
}
.photographer_section article p {
  line-height: 15px;
}
.photographer_section article p.photographer-location {
  font-size: 0.813rem;
  color: #901C1C;
}
.photographer_section article p.photographer-tagline {
  font-size: 0.625rem;
}
.photographer_section article p.photographer-price {
  font-size: 0.563rem;
  color: #525252;
}

#contact_modal {
  display: none;
}

main {
  margin: 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .photographer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #FAFAFA;
  height: 300px;
  padding: 0 35px;
}
main .photographer .contactModal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(250, 250, 250, 0.7);
}
main .photographer .contactModal .content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
  height: 900px;
  width: 670px;
  background-color: #DB8876;
  padding: 20px;
  border-radius: 5px;
  overflow: hidden;
}
main .photographer .contactModal .content .headerModal {
  display: flex;
  justify-content: space-between;
}
main .photographer .contactModal .content .headerModal .title {
  display: flex;
  flex-direction: column;
  font-size: 36px;
}
main .photographer .contactModal .content .headerModal .closeModal {
  color: white;
  height: 36px;
  width: 36px;
}
main .photographer .contactModal .content form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
main .photographer .contactModal .content form .formData {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
main .photographer .contactModal .content form .formData .form-label {
  font-size: 30px;
  font-weight: bold;
  color: #525252;
}
main .photographer .contactModal .content form .formData input {
  border: none;
  border-radius: 5px;
  height: 64px;
}
main .photographer .contactModal .content form .formData textarea {
  border: none;
  border-radius: 5px;
}
main .portfolio {
  /*FILTER*/
  /*GALLERY*/
}
main .portfolio .filter-form-wrapper {
  margin: 50px 0 100px;
}
main .portfolio .filter-form-wrapper .filter-form label {
  margin-right: 20px;
}
main .portfolio .galleryContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}/*# sourceMappingURL=styles.css.map */