/*****RESET*****/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    .overflow{
      overflow: hidden;
    }
  }
  
  a {
    text-decoration: none;
  }

  a.header-logo{
    margin-left: 100px;
  }
  
  img {
    display: block;
  }

  img.logo{
    height: 3.125rem;
  }

  .img-profile{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 4px 4px 8px #c4c4c4;
  }

