.lightbox{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 251, 251, 0.3) ;
  z-index: 10;
  .lightbox__next,.lightbox__prev{

  }
}

.lightbox__container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0 50px;
    img{
      // height: 100vh;
    }
  }