.contactBtn {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: $red;
    border-radius: 5px;
    margin: 20px 0;
    cursor: pointer;
    transition: all .3s;
    &:hover{
        background-color: $pink;
        border: 1px $red;
    }
}

#filter-select{
    background-color: $red;
    border-color: transparent;
    border-radius: 5px;
    color: $lightgray;
    font-size: 18px;
    min-height: 50px;
    padding: 5px 10px;
    width: 170px;
    height: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}