

header{
    a.header-logo{
        margin-left: 100px;
    } 
    h1{
        color: $red;
        margin-right: 100px;
    }
}

.photographer_section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
    article{
        justify-self: center;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        a{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration: none;
            font-size: 0;
            img{
                margin-bottom: 20px;
            }
            h2{
                color: #D3573C;
                font-size: 2.25rem;
                text-align: center;
            }
        }
        p{
            line-height: 15px;
        }
        p.photographer-location{
            font-size: 0.813rem;
            color: $red;
        }
        p.photographer-tagline{
            font-size: 0.625rem;
        }
        p.photographer-price{
            font-size: 0.563rem;
            color: $gray;
        }
    }
}

