#contact_modal {
    display: none;
}

.photograph-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $gray-light;
    height: 300px;
    margin: 0 100px;
}










